@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body {
  height: 100%;
  background-color: #000000;
background-image: linear-gradient(147deg, #0c0c0cc7 0%, #201e1e 74%);
  overflow: auto;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}

body h1 {
  color: white;
}

#root {
height: 100vh;
display: flex;
justify-content: center;

}
